@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}
body {
    background: #222;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
}
.menu-container {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #222;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 6.5rem;
    padding: 100px 0px;
}
.speed {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
    column-gap: 3.5rem;
}
input {
    cursor: pointer;
}
.play-btn {
    width: 180px;
    height: 50px;
    background: lightgreen;
    border: none;
    color: #222;
    border-radius: 200px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.play-btn:hover {
    color: whitesmoke;
    background: lightcoral;
}
.logo {
   align-self: flex-start;
   margin: 1vh 10vw;
   font-family: 'Permanent Marker', cursive;
   font-size: 2.75rem;
   color: lightgreen;
   text-shadow: 1px 1px 10px #111;
}
.logo span {
    color: lightcoral;
}
.menu-logo {
    margin: auto;
    font-size: 5.5rem;
}
.scores {
    display: flex;
    width: 20vw;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: bold;
}
.snake {
    position: relative;
    width: 10px;
    height: 10px;
    background: lightgreen;
    transition: all 100ms linear;
}
.gameOver {
    position: absolute;
    width: 100vw;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.active {
    display: flex;
    transition: all 300ms linear;
}
.gameOver .modal {
    width: 35vw;
    height: 60vh;
    background: black;
    box-shadow: 0px 0px 5px white;
    border-radius: 5px;
    color: lightgreen;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.btn {
    font-size: 2.5rem;
    background: none;
    color: whitesmoke;
    outline: none !important;
    border: none;
    transition: all 300ms linear;
    cursor: pointer;
}
.menu:hover {
    color: lightcoral;
}
.replay {
    font-weight: bold;
    font-size: 2.75rem;
}
.replay:hover {
    color: lightgreen;
}